a > span,
span,
ul > li > a {
	color: gray;
	cursor: pointer;
}

a > span:hover,
span:hover,
ul > li > a > span:hover {
	color: white;
}
ul > li > a > img {
	background-color: green;
}

/* .content-bg {
	background-image: linear-gradient(rgb(138, 141, 148), rgb(31, 21, 21));
} */

.color {
	background-color: rgb(68, 177, 68);
	color: white;
}

.color:hover {
	background-color: rgb(5, 77, 5) !important;
	color: white !important;
}

.div-center,
.text {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
